@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #15e1f0, #ffae00, #00ff9d, #ff00ff, #00ff00);
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

input {
    background-color: rgba(250, 253, 252, 0.623);
    border: none;
    border-radius: 25px;
    box-shadow: 0 3px 100px rgba(0, 0, 0, 0.527);
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    min-width: 300px;
}

input:focus {
    outline: none;
}

.weather {
    font-size: 2rem;
    text-align: center;
}

.weather h2 {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
button {
    background-color: #af9d4c; /* Green background color */
    color: white; /* White text color */
    padding: 1rem 2rem; /* Padding around text */
    border: none; /* No border */
    border-radius: 25px; /* Rounded corners */
    cursor: pointer; /* Cursor on hover */
    font-size: 1rem; /* Font size */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}

button:focus {
    outline: none; /* Remove outline on focus */
}
#github-link {
    margin-top: 20px;
    display: block;
    text-align: center;
}

#github-link a {
    text-decoration: none;
    color: #be0d0d; /* Dark text color */
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f5f5f5; /* Light gray background color */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

#github-link a:hover {
    background-color: #090101; /* Slightly darker gray on hover */
}
#linkedin-link {
    margin-top: 20px;
    display: block;
    text-align: center;
}

#linkedin-link a {
    text-decoration: none;
    color: #fff; /* White text color */
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #333; /* Dark background color */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

#linkedin-link a:hover {
    background-color: #0f85df; /* Slightly darker background color on hover */
}
#email-link {
    margin-top: 20px;
    display: block;
    text-align: center;
}

#email-link a {
    text-decoration: none;
    color: #fff; /* White text color */
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #e74c3c; /* Red background color */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

#email-link a:hover {
    background-color: #7c160b; /* Slightly darker red on hover */
}

