


/* Add these styles at the end of your existing CSS file */
body{
    background: linear-gradient(135deg, #78c7ff, #6e45e2);

}
.card {
    backdrop-filter: blur(10px); /* Apply a blur effect to the card */
    background: linear-gradient(135deg, #ffa8a8, #ffd3b6, #ffedcd, #d3f4d1, #a5f4f3);


/* Semi-transparent background for the card */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 20px;
    text-align: center;
    height: 50vh
}

form {
    margin-bottom: 20px;
}

input {
    background-color: rgba(250, 253, 252, 0.623);
    border: none;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    min-width: 300px;
}

input:focus {
    outline: none;
}

button {
    background-color: #1d486e;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:focus {
    outline: none;
}

.weather {
    font-size: 2rem;
    text-align: center;
}

.weather h2 {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center;
    margin: 0; /* Reset margin */
}

#nav {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin-top: 33vh;
}


#github-link a {
    box-sizing: border-box;
    padding: 5px 10px;
    box-sizing:inherit;
    background-color: #000000;
    color: #fcf2f2;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
}

#github-link a:hover {
    background-color: #1e1f1e;
    transform: translateY(-2px);
}


#linkedin-link a {
    padding: 5px 10px;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    color: #f4f0f0;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    font-size: 18px;
}

#linkedin-link a:hover {
    background-color: #6e1d1d;
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

#email-link a {
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #e74c3c;
    transition: background-color 0.3s ease;
}

#email-link a:hover {
    background-color: #7c160b;
}

main{
    border: #1d486e 2px;
}
#time-location {
    margin-top: 20px;
    text-align: center;
}

#current-time,
#user-location {
    font-size: 1.2rem;
    margin: 5px 0;
    color: #333;
}

#current-time::before,
#user-location::before {
    content: '\2022'; /* Bullet point before each line */
    margin-right: 5px;
}


